body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

#cryptoList, #portfolio {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: inline-block;
    width: 45%;
}

#cryptos li, #portfolioList li {
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#cryptos li:last-child, #portfolioList li:last-child {
    border-bottom: none;
}

h2 {
    color: #333;
}
